.nav {
    width: 100%;
    height: 60px;
    background: var(--navbar-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    user-select: none;

    svg {
        width: 30px;
        height: 30px;
        margin-right: 20px;
        cursor: pointer;
    }

    h1 {
        margin: 0;
        text-align: center;

        span:nth-child(1) {
            color: var(--theme);
        }
        span:nth-child(2) {
            color: var(--blue-color);
        }
    }
}

.container {
    $container-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: $container-height;
    flex-direction: row;

    & > div {
        width: 100%;
        height: $container-height;

        &:first-child {
            border-right: 2px solid var(--thin-border-color);
        }
    }

    @media screen and (max-width: 786px) {
        & {
            flex-direction: column;
        }

        & > div:first-child {
            border-right: none;
            border-bottom: 2px solid var(--thin-border-color);
        }
    }
}

.config,
.results {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.UrlInput {
    width: 80%;
    height: 40px;
    border: 1px solid var(--thin-border-color);
    margin: 0;
    margin-top: 10px;
    padding: 0;

    & > * {
        margin: 0;
        padding: 0;
        height: 40px;
    }

    & > input {
        background: var(--input-bg);
        font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
        width: calc(100% - 135px);
        color: var(--theme);
        outline: none;
        border: none;
        padding: 0 10px;
    }

    & > button {
        background: var(--blue-color);
        color: var(--theme);
        border: none;
        outline: none;
        height: 40px;
        font-size: 14px;
        width: 52px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
            background: var(--button-color-hover);
        }

        &:disabled {
            background: #a1a1a1;
            cursor: default;
        }
    }

    & > select {
        background: var(--input-bg);
        height: 35px;
        color: var(--theme);
        outline: none;
        border: none;
        border-right: 1px solid var(--thin-border-color);
    }
}

.sliders {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > ul {
        padding: 0;

        li {
            position: relative;
            list-style: none;
            margin: 0 10px;
            display: inline-block;
            color: var(--button-text-color);

            span {
                position: absolute;
                $r: 15px;
                top: 0;
                right: 0;
                width: $r;
                height: $r;
                border-radius: $r;
                line-height: $r;
                font-size: 12px;
                background: var(--blue-color);
                color: white;
                text-align: center;

                @media screen and (max-width: 481px) {
                    & {
                        top: -$r / 2;
                        right: -$r / 2;
                    }
                }
            }

            button {
                background: none;
                color: inherit;
                border: none;
                border-bottom: 1px solid var(--thin-border-color);
                outline: none;
                padding: 10px;
                padding-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;

                @media screen and (max-width: 481px) {
                    & {
                        padding: 0;
                    }
                }
            }
        }
    }
}

.table {
    width: 90%;
    margin: 0 auto;

    td {
        width: 50%;
        padding: 5px 20px;
        word-break: break-word;
    }
}
