$height: 60px;
$container-height: calc(100vh - $height - 1px);
@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    height: $height;
    background: var(--navbar-color);
    border-bottom: 1px solid var(--thin-border-color);
    @include space-between();

    div:nth-child(1) {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;
        margin-left: 50px;

        svg {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            cursor: pointer;
        }

        h1 {
            margin: 0;
            text-align: center;

            span:nth-child(1) {
                color: var(--theme);
            }
            span:nth-child(2) {
                color: var(--blue-color);
            }
        }

        @media screen and (max-width: 375px) {
            margin-left: 20px;
        }
    }

    .button_section {
        @include space-between();
        button {
            font-size: 40px;
            padding: 0;
            background: transparent;
            color: inherit;
            border: none;
            outline: none;
            margin-right: 30px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 786px) {
        [class="vanish"] {
            display: none;
        }
    }
}

.config,
.results {
    background: var(--background-color);
    width: 100%;
    height: $container-height;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}

.results {
    position: relative;
    z-index: 12;
}

.UrlInput {
    width: 80%;
    height: 40px;
    border: 1px solid var(--thin-border-color);
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    & > * {
        margin: 0;
        padding: 0;
        height: 40px;
    }

    & > input {
        background: var(--input-bg);
        font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
            "Trebuchet MS", sans-serif;
        color: var(--theme);
        outline: none;
        border: none;
        padding: 0 10px;
        flex-grow: 1;
    }

    & > button {
        background: var(--blue-color);
        color: var(--theme);
        border: none;
        outline: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        padding: 0 10px;
        transition: 0.25s;

        &:hover {
            background: var(--button-color-hover);
        }

        &.buttonDisabled {
            background: #a1a1a1;
        }
    }

    & > select {
        background: var(--input-bg);
        height: 35px;
        color: var(--theme);
        outline: none;
        border: none;
        border-right: 1px solid var(--thin-border-color);
    }
}

.sliders {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > ul {
        padding: 0;

        li {
            position: relative;
            list-style: none;
            margin: 0 10px;
            display: inline-block;
            color: var(--button-text-color);

            span {
                position: absolute;
                $r: 15px;
                top: 0;
                right: 0;
                width: $r;
                height: $r;
                border-radius: $r;
                line-height: $r;
                font-size: 12px;
                background: var(--blue-color);
                color: white;
                text-align: center;

                @media screen and (max-width: 481px) {
                    & {
                        top: -$r / 2;
                        right: -$r / 2;
                    }
                }
            }

            button {
                background: none;
                color: inherit;
                border: none;
                border-bottom: 1px solid var(--thin-border-color);
                outline: none;
                padding: 10px;
                padding-bottom: 5px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                user-select: none;

                @media screen and (max-width: 481px) {
                    & {
                        padding: 0;
                    }
                }
            }
        }
    }
}

.table {
    width: 90%;
    margin: 0 auto;

    td {
        position: relative;
        width: 50%;
        padding: 5px 20px;
        word-break: break-word;
        overflow-x: hidden;

        span:nth-child(1) {
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            font-size: 13px;
        }

        button {
            position: absolute;
            height: 19px;
            top: 50%;
            right: -25px;
            transform: translateY(-50%);
            outline: none;
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            transition: right 0.15s ease;
        }

        &:hover {
            button {
                right: 0px;
            }
        }
    }
}

.loader {
    position: absolute;
    $b: 5px;
    top: $b;
    left: $b;
    right: $b;
    bottom: $b;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    z-index: 100;

    .loader_circle {
        $radius: 30px;
        width: $radius;
        height: $radius;
        border-radius: $radius;
        border: 5px solid var(--slide-bg-color);
        border-top: 5px solid var(--blue-color);
        animation: circle360 0.75s linear 0s infinite forwards;
    }

    @keyframes circle360 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: min(350px, 100%);
    background: var(--navbar-color);
    z-index: 100;
    font-size: 13px;
    overflow-x: hidden;
    transition: right 0.3s 0s cubic-bezier(0.215, 0.61, 0.355, 1);

    &[class~="inactive"] {
        right: calc(min(350px, 100%) * -1);
    }

    button.closeButton {
        transform: "none";
        font-size: 50px;
        display: block;
        margin-left: auto;
        padding: 0;
        background: transparent;
        color: inherit;
        border: none;
        outline: none;
        margin-right: 25px;
        height: $height;
        cursor: pointer;
    }

    input[type="search"] {
        background: transparent;
        width: 100%;
        font-family: inherit;
        outline: none;
        border: none;
        border-top: 1px solid var(--thin-border-color);
        border-bottom: 1px solid var(--thin-border-color);
        color: inherit;
        padding: 5px 10px;
    }

    .sidebar_flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: $container-height;
        flex-direction: row;
        border-left: 1px solid var(--thin-border-color);
        $left: 40px;

        .sidebar_buttons {
            width: 40px;

            span {
                position: relative;
                color: var(--general-text-color);
                padding: 10px 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                border: none;
                border-top: 1px solid;
                border-bottom: 1px solid;
                border-color: var(--thin-border-color);
                outline: none;
                display: block;
                margin: 10px auto;
                cursor: pointer;
                text-align: center;
            }
        }

        .sidebar_histories {
            width: calc(100% - $left);
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            border-left: 1px solid var(--thin-border-color);
            ul.list_requests {
                position: relative;
                width: 100%;
                padding: 0;

                li {
                    position: relative;
                    list-style: none;
                    @include space-between();
                    flex-direction: row;
                    cursor: pointer;

                    span[class$="requestMethod"] {
                        color: #6cff6c;
                        font-weight: bold;

                        &[class*="error"] {
                            color: red;
                        }
                    }
                    h4 {
                        width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: inline-block;
                        margin: 0;
                        resize: none;
                    }

                    button {
                        border: 2px solid red;
                        background: transparent;
                        outline: none;
                        font-size: 20px;
                        position: relative;
                        right: -50px;
                        color: inherit;
                        transition: right 0.2s ease-in-out;
                        cursor: pointer;
                        color: red;
                        border-radius: 100px;
                    }

                    &:hover {
                        h4 {
                            color: var(--theme);
                        }
                        button {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

.previewPanel {
    width: 100%;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), 0 -5px 5px rgba(0, 0, 0, 0.4);
    background: white;
    height: calc(100% - 100px);
}
