@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import "./App.module.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    // font-family: "Fira Code", sans-serif;

    --navbar-color: #151619;
    --background-color: #1a1b1e;
    --blue-color: #1c8cd2;
    --button-color-hover: #3045ff;
    --button-text-color: #9fa7af;
    --button-hover-underline-color: #fff;
    --slide-bg-color: #25262b;
    --thin-border-color: #4d4d56;
    --general-text-color: #bcc3cc;
    --input-place-hover-bg: #282a36;
    --theme: #ffffff;
    --input-bg: #000000;
    --green: lime;

    background: var(--background-color);
    width: 100vw;
    min-height: 100vh;
    color: var(--general-text-color);
    overflow-x: hidden;
    accent-color: var(--blue-color);
}

body.light {
    --navbar-color: #c1c1c1f5;
    --background-color: #d1d1d1;
    --button-color: #0071e2;
    --blue-color: #3096ff;
    --button-color-hover: #3045ff;
    --button-text-color: #575d62;
    --button-hover-underline-color: #000000;
    --slide-bg-color: #e9e9e9;
    --thin-border-color: #7d7d99;
    --general-text-color: #292a2c;
    --theme: #000000;
    --input-bg: #ffffff;
    --input-place-hover-bg: #ced1e3;
    --green: #149d14;
    font-weight: 500;
}

li.selected button {
    color: var(--theme) !important;
    border-bottom: 1px solid var(--button-hover-underline-color) !important;
}

.slideContainer {
    position: relative;
    width: calc(100% - 50px);
    height: 80%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    z-index: 1;
    background: var(--slide-bg-color);

    h2 {
        margin-left: 1rem;

        .name {
            font-size: 0.8rem;
            font-weight: 500;
            color: var(--green);
            display: inline-block;
        }

        .dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--green);

            &.red {
                background: red;
            }
        }
    }

    .slide-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        button {
            font-size: 20px;
            margin: 0;
            padding: 0 5px;
            color: var(--button-text-color);
        }
    }

    &.authSlide {
        position: relative;
        max-height: 75%;
    }

    #bearer_token {
        background: transparent;
        color: inherit;
        resize: vertical;
        width: 80%;
        display: block;
        margin: 0 auto;
        font-family: inherit;
    }

    .input-place {
        width: 100%;
        @include space-between();
        flex-direction: row;
        margin: 10px 0;
        padding: 10px 0;
        transition: 0.25s;

        &:hover {
            background: var(--input-place-hover-bg);
        }

        input[type="text"],
        input[type="password"] {
            margin: 0;
            outline: none;
            border: none;
            width: 40%;
            background: transparent;
            border-bottom: 2px solid var(--thin-border-color);
            font-size: 15px;
            color: var(--general-text-color);

            &:focus {
                border-bottom: 1px solid var(--button-hover-underline-color);
            }
        }

        button {
            font-size: 20px;
            margin: 0;
            padding: 0 5px;
            color: red;
        }

        select {
            background: transparent;
            outline: none;
            border: none;
            border-bottom: 2px solid var(--thin-border-color);
            color: inherit;
            text-align: center;

            option {
                background: var(--thin-border-color);
            }
        }
    }

    .add-row-button {
        background: transparent;
        font-size: 15px;
        color: var(--button-text-color);
        border: 1px solid var(--thin-border-color);
        outline: none;
        border-radius: 4px;
        padding: 5px 10px;
        display: block;
        margin: auto;
        cursor: pointer;
    }
    &.slide-selected {
        z-index: 10;
    }
}
.ace-dracula {
    background: transparent;
}
.ace_gutter {
    background: transparent !important;
    border-right: 1px solid var(--thin-border-color);
}

.statusBar {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    font-size: 0.8rem;

    li {
        display: inline-block;
        padding: 0 10px;

        span.status {
            color: var(--green);

            &:where(.error) {
                color: red;
            }
        }
    }
}

.select-container {
    position: relative;
    width: 40%;

    select {
        display: block;
        margin: auto;
        width: 90%;

        &.hidden {
            display: none;
        }
    }

    input {
        width: 100% !important;
    }

    .tooltip-description {
        position: absolute;
        top: 100%;
        left: 00%;
        overflow: auto;
        max-height: 100px;
        padding: 5px 10px;
        background: var(--navbar-color);
        display: none;
        border-radius: 0 0 7px 7px;
        cursor: help;
    }

    .options {
        position: absolute;
        top: 100%;
        left: 0;
        overflow-y: auto;
        width: 100%;
        max-height: calc(30px * 5);
        background: var(--slide-bg-color);
        display: none;

        .option {
            cursor: pointer;
            word-wrap: break-word;
            border-bottom: 1px solid var(--thin-border-color);

            &.block {
                display: block;
            }

            &.none {
                display: none;
            }
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--thin-border-color);
        }
    }
}

.slide.Code {
    .code-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 10px 5px;

        select,
        button {
            background: var(--slide-bg-color);
            color: var(--general-text-color);
            padding: 5px 10px;
            border-radius: 5px;
            outline: none;
            border: 2px solid var(--thin-border-color);
            cursor: pointer;
        }

        button {
            float: right;
            transition: 0.3s ease-in-out;

            &:hover {
                background: var(--thin-border-color);
                color: white;
            }
        }
    }
}

.select-transparent {
    background: var(--slide-bg-color);
    color: var(--general-text-color);
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--thin-border-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--thin-border-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input::placeholder {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    user-select: none;
}

button {
    background: none;
    outline: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

svg {
    outline: none;
}

pre {
    margin: 0;
    font-family: inherit;
}

// Editor
.transparent-editor .monaco-editor,
.transparent-editor .monaco-editor-background,
.transparent-editor .monaco-editor .margin {
    background: transparent !important;
}

// Toooltip
.__react_component_tooltip {
    font-weight: 600 !important;
}
